<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Welcome</title>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Simcloud-Job-Monitor</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li ><a href="/jobs">All Jobs</a></li>
        </ul>
      </div>
    </nav>
</body>
<!-- Footer -->
<footer class="navbar navbar-fixed-bottom text-center bg-3">
  <p>Home Page</p>
</footer>
</html>