<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='mystyle.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='tablesort.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='sorts/tablesort.number.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='sorts/tablesort.dotsep.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='myscript.js') }}"></script>

    <title>all jobs</title>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Simcloud-Job-Monitor</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/jobs">All Jobs</a></li>
            <li><a href="#">{{jobs_meta.length}}</a></li>
        </ul>
      </div>
    </nav>
    <div>
    {% if jobs %}
          <table id="myTable">
              <thead>
                  <tr>
                      <th>Index</th>
                      <th class="notsortable" data-sort-method='none'>Job ID</th>
                      <th class="notsortable">Owner</th>
                      <th>Status</th>
                      <th class="notsortable" data-sort-method='none'>CPU</th>
                      <th class="notsortable" data-sort-method='none'>Memory</th>
                      <th class="notsortable" data-sort-method='none'>Disk</th>
                      <th data-sort-method='number'>Started</th>
                      <th data-sort-method='number'>Completed</th>
                      <th data-sort-method='number'>Created</th>
                      <th>Total Time</th>
                      <th class="notsortable" data-sort-method='none'>SMI</th>
                      <th class="notsortable" data-sort-method='none'>Args</th>
                      <th data-sort-method="dotsep">Exit Code</th>
                  </tr>
              </thead>
                <tbody>
                {% for job in jobs %}
                    <TR>
                        <TD><span align="center">{{loop.index}}</span></TD>
                       <TD><a href="https://simcloud-mr2.apple.com/?job={{job.id}}#jobs">{{job.id}}</a></TD>
                       <TD>{{job.owner}}</TD>
                       {% if job.status == 'complete' %}
                            <TD><span style="color:green;">{{job.status}}</span></TD>
                         {% elif job.status == 'error'%}
                            <TD ><span style="color:red;">{{job.status}}</span></TD>
                         {% else %}
                           <TD>{{job.status}}</TD>
                        {% endif %}
                       <TD>{{job.allocated_resources.cpu}}</TD>
                        <TD>{{job.allocated_resources.memory}}</TD>
                        <TD>{{job.allocated_resources.disk}}</TD>
                        <TD data-sort="{{job.times.started_timestamp}}">{{job.times.started}}</TD>
                        <TD data-sort="{{job.times.completed_timestamp}}">{{job.times.completed}}</TD>
                        <TD data-sort="{{job.times.created_timestamp}}">{{job.times.created}}</TD>

                        <TD data-sort="{{job.total_time_numeric}}">{{job.total_time}}</TD>
                        <TD>{{job.requirements.smi}}</TD>
                        <TD>{{job.all_tasks_args}}</TD>
                        <TD>{{job.all_exit_code}}</TD>
                    </TR>
                {% endfor %}
                </tbody>
            </table>
    {% else %}
        <h1>No jobs !!!</h1>
    {% endif %}
    </div>
</body>
<!-- Footer -->
<footer class="navbar navbar-fixed-bottom text-center bg-3">
  <p>All jobs</p>
</footer>

<script>

    var table = document.getElementById('myTable');
    var sort = new Tablesort(table);

    table.addEventListener('beforeSort', function() {
      console.log('Table is about to be sorted!');
    });

    table.addEventListener('afterSort', function() {
      console.log('Table sorted!');
    });
</script>
</html>

<!--see tablesort usage-->
<!--http://tristen.ca/tablesort/demo/-->

